.DS_Store

# Grails
*DB.*
stacktrace.log
/test/reports/
/logs
*.log
*.war
*.zip
*.sha1
/plugin.xml
/plugins/
/target/
/.link_to_grails_plugins
/web-app/WEB-INF/classes/
/web-app/plugins/
/grails3-spring-batch-*

# Gradle
.gradle/
build/
gradle-app.setting

# Intellij
*.iml
*.ipr
*.iws
.idea/
out/
classes/
.idea_modules/

# Eclipse
.metadata
.classpath
.project
.settings/
target-eclipse/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.launch























